/* Author: Dominik; 19.11.2025; This file draws the analog Clock, with the diffrent div.*/

/* The first circle, that makes the frame of the clock */
.clock {
  width: 500px;
  height: 500px;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}

/* The second circle, that is over the first one. That makes the frame. */
.outer-clock-face {
  width: 480px;
  height: 480px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  top:10px;
  left: 10px;
}

/* This applies to all markings. */
.marking {
  background-color: black;
  position: fixed;
}

/* The first marking. */
.marking-one {
  width: 5px;
  height: 20px;
  background-color: black;
  position: fixed;
  left: 247.5px;
}

/* The second marking. */
.marking-two {
  width: 5px;
  height: 20px;
  left: 247.5px;
  top: 470px;
}

/* The third marking. */
.marking-three {
  width: 20px;
  height: 5px;
  top: 247.5px;
}

/* The fourth marking. */
.marking-four {
  width: 20px;
  height: 5px;
  left: 470px;
  top: 247.5px;
}

/* That applies to all hands. */
.hand {
  position: fixed;
}

/* The hand, for the Minutes */
.min-hand {
  background-color: black;
  width: 5px;
  height: 200px;
  top: 250px;
  left: 247.5px;
  transform-origin: top center;
}

/* The hand for the hours. */
.hour-hand {
  background-color: black;
  width: 10px;
  height: 150px;
  top: 250px;
  left: 245px;
  transform-origin: top center;
}

/* The hand for the seconds. */
.second-hand {
  background-color: red;
  width: 2px;
  height: 200px;
  top: 250px;
  left: 249px;
  transform-origin: top center;
}

/* A small point in the middle of the clock. */
.inner-clock-face {
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: fixed;
  top: 242.5px;
  left: 242.5px;
}
